extend layout

block content
    h2 Welcome To The Bob Boberson Website Thing
    h4 Graphs as required by our benevolent overlord
    p 
        h4 Favorite Pizza Topping
        canvas(id="question_1")
    p
        h4 Astrology Sign
        canvas(id="question_2")
    p
        h4 Do Unicorns Exist
        canvas(id="question_3")
    script(src="scripts.js")