doctype
html
    head
        title="Website"
        link(href="/styles.css" rel="stylesheet")
    body
        nav
            a(href="index.pug") Home
            a(href="login.pug") Login
            a(href="signup.pug") Sign up
        block content